.footer {
  display: flex;
  bottom: 0;
  align-items: center;
  background-color: #282c34;
  min-height: 50px;
  max-height: 60px;
  width: 100%;
  border-top: 3px solid #959b95;
  min-height: calc(-100vh + 120px);
}
.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
